<div class="row" align="center">
  <div class="col-md-10">
  <table class="table pretty table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th rowspan="2" style="vertical-align: middle;">MATA LATIHAN DAN UJIAN</th>
        <th colspan="2" style="text-align: center;">NILAI</th>
      </tr>
      <tr>
        <th style="text-align: center;">Angka</th>
        <th style="text-align: center;">Huruf</th>
      </tr>
    </thead>
    <tbody>
<%= raw(ERB.new(grade_component_as_table(@grade.component.content)).result(binding)) %>
    </tbody>
  </table>
  </div>
</div>
