<h2>Daftar Nilai Praktek</h2>

<div class="well">
<%= form_for_filterrific @filterrific do |f| %>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Judul Soal</label>
        <%= f.select :with_exam, @filterrific.select_options[:with_exam],
                     { :include_blank => '- Pilih -' },
                     { :class => 'form-control' }
        %>
      </div>
    </div>
  </div>
<% end %>
</div>

<div id="filterrific_results">
  <%= render :partial => 'grades/list',
             :locals => { :grades => @grades, :exam => @exam }
 %>
</div>

<%= link_to 'Buat Entri Nilai', new_grade_path %>
