<%= form_for(@grade_sheet) do |f| %>
  <% if @grade_sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grade_sheet.errors.count, "error") %> prohibited this grade_sheet from being saved:</h2>

      <ul>
      <% @grade_sheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
