<h1>Listing grade_sheets</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grade_sheets.each do |grade_sheet| %>
      <tr>
        <td><%= link_to 'Show', grade_sheet %></td>
        <td><%= link_to 'Edit', edit_grade_sheet_path(grade_sheet) %></td>
        <td><%= link_to 'Destroy', grade_sheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grade sheet', new_grade_sheet_path %>
