<div class="form-group">
  <div class="col-sm-offset-2 col-sm-7 form-inline">
    <div class="form-group col-xs-6">
      <%= f.grouped_collection_select :pkg_ids, @packages, :levels, :pkg_name, :id, :level,
                                     {selected: "14", prompt: "Pilih paket"}, {class: "form-control"}
      %>
    </div>
    <div class="form-group col-xs-6">
      <div class="checkbox" %>
        <%= label_tag :remove do %>
          <%= check_box_tag :remove %> Hapus
        <% end %>
      </div>
    </div>
  </div>
</div>

