<% if flash[:alert] %>
  <p id="notice"><%= flash[:alert] %></p>
<% end %>

<div class="container-fluid" style="padding-top:20px;">
<h3>Grafik Jumlah Siswa Aktif 6 Bulan Terakhir</h3>
<p style="padding-top:10px;">
<%= column_chart Student.get_active_stats(6) %>
</p>
</div>
