<% if flash[:alert] %>
  <p id="notice"><%= flash[:alert] %></p>
<% end %>
<h1>Welcome</h1>
<p>
<%#= image_tag("Salesians_of_Don_Bosco_logo.svg.png", :alt => "Salesians of Don Bosco logo") %>
</p>

<div class="container-fluid">

<h4>What's New <small>Aug 29, 2014</small></h4>
<ul>
<li>"Ubah Data Siswa" berfungsi. Dapat digunakan untuk menambahkan maupun menghapus paket yang diambil siswa. 
Selain mengedit data siswa.
</li>
<li>Fitur baru "Lembar Absensi Siswa" dapat digunakan.</li>
</ul>
</div>

<div class="container-fluid">

<h4>Mengenai Otoritas Group</h4>
<p>
Users terbagi dalam 3 kelompok otorisasi: sysadmin, admin, dan staff.
<p>
<p>
Kelompok sysadmin mempunyai tingkat otorisasi tertinggi, yaitu dapat:
</p>
<ul>
<li>menambahkan/edit program dan paket</li>
<li>menambahkan/edit slot jadwal</li>
<li>melihat changes history atau yang biasa disebut juga sbg "audit log" (saat ini implementasi belum selesai)</li>
<li>dan mencakup privilesi yang dimiliki kelompok admin dan staff</li>
</ul>
</p>

<p>
Kelompok admin memiliki privilesi:
<ul>
<li>menambahkan/edit users</li>
<li>ditambah dengan privilesi yg dimiliki staff</li>
</ul>
</p>

<p>
Kelompok staff memiliki privilesi:
<ul>
<li>Mendaftarkan siswa baru</li>
<li>melihat/mengedit data siswa</li>
<li>membuat/mengedit jadwal siswa</li>
<li>melihat daftar program, paket, slot jadwal, tapi tidak dapat mengubah/menambahkan</li>
</ul>
</p>
</div>
