<% if flash[:alert] %>
  <p id="notice"><%= flash[:alert] %></p>
<% end %>
<h1>Welcome#index</h1>
<p>
<%= image_tag("Salesians_of_Don_Bosco_logo.svg.png", :alt => "Salesians of Don Bosco logo") %>
</p>
