<%= form_tag(edit_student_schedule_path, {method: :get, class: "form-horizontal", role: "form"}) do %>

<div class="form-group">
  <%= label_tag :foo, "Tambah Paket / Edit Jadwal", class: "control-label col-sm-3" %>
  <div class="col-sm-7 form-inline">
    <div class="form-group col-xs-6">
      <%= grouped_collection_select :pkg, :id, @packages, :levels, :pkg_name, :id, :level,
                                    {selected: nil, prompt: "Pilih paket", hide_label: true}, 
                                    {class: "form-control"}
      %>
    </div>
  </div>
</div>

  <div class="actions">
    <%= submit_tag "Atur Jadwal" %>
  </div>

<% end %>
