<h2>Atur Jadwal Siswa</h2>

<h3><%= @student.name %></h3>

<div style="padding:20px">
<%= render partial: 'remove_pkgs_form' %>
</div>
<div style="padding:20px">
<%= render partial: 'pkgs_form' %>
</div>

