<div style="float:left;padding-top:20px;padding-left:40px;width:300px;page-break-inside:avoid;">
<div style="padding-bottom:80px;">
<p>Mengetahui,</p>
<p style="width:200px;">Kepala Seksi Pelatihan dan Produktivitas Kerja</p>
</div>
<div>
<p><%= Setting.kasie_ppk_name %></p>
<p><%= Setting.kasie_ppk_nip %></p>
</div>
</div>

<div style="float:right;width:300px;padding-top:20px;page-break-inside:avoid;">
<div style="padding-bottom:80px;">
<p>Tigaraksa, <%= @month_year_for_title %></p>
<p>Mengetahui,</p>
</div>
<div>
<p><%= Setting.director %></p>
<p>Direktur</p>
</div>
</div>
