<div style="position:relative;float:left;padding-top:20px;padding-left:40px;display:block;width:300px;height:210px;page-break-inside:avoid;">
  <div>
    <p>Mengetahui,</p>
    <p style="width:200px;">Kepala Seksi Pelatihan dan Produktivitas Kerja</p>
  </div>

  <div style="position:absolute;bottom:0;">
    <p><%= Setting.kasie_ppk_name %><br/><%= Setting.kasie_ppk_nip %></p>
  </div>
</div>

<div style="position:relative;float:right;padding-top:20px;display:block;width:300px;height:210px;page-break-inside:avoid;">
  <div>
    <p>Tigaraksa, <%= @month_year_for_title %></p>
    <p>Mengetahui,</p>
  </div>

  <div style="position:absolute;bottom:0;">
    <p><%= Setting.director %><br/>Direktur</p>
  </div>
</div>
