  <table id="example" class="display" cellspacing="0" width="100%">
    <thead>
            <tr>
                <th></th>
                <th>Created at</th>
                <th>Modified by</th>
                <th>Modified at</th>
                <th>Salary</th>
            </tr>
    </thead>
  </table>
