  <table id="components" class="display" cellspacing="0" width="100%">
    <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>Created at</th>
                <th>Modified by</th>
                <th>Default?</th>
                <th></th>
            </tr>
    </thead>
  </table>
