<!-- Footer -->
<div id="footer">
  <span>Powered by</span>
  <img src="/images/rails.png" alt="Ruby on Rails" />
  <span style="padding-right:10px"><a target="_blank" href="http://rubyonrails.org"><strong>Ruby on Rails</strong></a></span>
  <img src="/images/pgsql.jpg" alt="PostgreSQL" />
  <span style="padding-right:10px"><a target="_blank" href="http://postgresql.org"><strong>PostgreSQL</strong></a></span>
</div>
<!-- Footer -->
