<!-- Footer -->
<div id="footer">
  <span style="padding-right:10px">TECHNOLOGIES</span>
  <span style="padding-right:10px">
  <a target="_blank" href="http://rubyonrails.org"><img src="/images/Ruby_on_Rails.png" alt="Ruby on Rails" /></a>
  </span>
  <span style="padding-right:10px">
  <a target="_blank" href="http://postgresql.org"><img src="/images/postgresql.png" /></a>
  </span>
  <span style="padding-right:10px">
  <a target="_blank" href="http://redis.io"><img src="/images/redis-white.png" /></a>
  </span>
</div>
<!-- Footer -->
