<!DOCTYPE html>
<html>
<head>
<style>
<%= Rails.application.assets.find_asset('application.css').to_s.html_safe %>
</style>
</head>
<body>
  <div style="
    background: url(/images/logo2-transparent.png) center no-repeat;
    background-size: contain;
    width: 790px;">
<%= yield %>
  </div>
</body>
</html>
